@model IEnumerable<ClassAttendance.Models.ClassModel>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.ClassName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade.GradeName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.ClassName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade.GradeName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ClassID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ClassID })
                </td>
            </tr>
        }
    </tbody>
</table>
